/*imported font*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap");
@font-face {
  font-family: Cooper Hewitt;
  src: url("../fonts/CooperHewitt.woff");
  font-weight: normal;
}

body {
  font-family: "Coooper Hewitt", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.7rem;
  color: $color-dark;
}

h1,
h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.jumbotron {
  font-size: 9.6rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1;
}

.muted {
  color: $color-muted;
  font-weight: 200;
}

.text-light {
  font-weight: 300;
}

.text-icon {
  padding-top: 0.5rem;
  padding-right: 2rem;
  font-size: 3rem;
  font-weight: lighter;
}

.text-link {
  font-weight: 700;
  color: $color-accent;
}
