.logo {
  grid-area: logo;
}

.nav {
  grid-area: nav;
}

.profile {
  grid-area: profile;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.container {
  background-color: $color-dark;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "logo nav"
    "profile profile"
    "content content"
    "footer footer";
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
      "logo  nav"
      "profile content"
      "footer footer";
  }
}
