.section {
  padding: 4rem 3rem;
}

#profile {
  background-color: $color-dark;
  color: $color-white;
  display: flex;
  flex-direction: column;
}

.info {
  line-height: 2.5;
  margin-top: 6rem;
}

.details {
  display: grid;
  grid-template-columns: 3rem auto;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;

  &__item {
    padding: 1rem 0;
  }
}

.resume {
  color: $color-white;
}

.social {
  display: flex;
  margin-top: auto;

  &__text {
    display: inline-block;
  }

  &__item {
    padding: 0 2rem;
  }

  &__icon {
    color: $color-white;
    font-size: 2.5rem;

    &:hover {
      color: $color-primary;
    }
  }
}

.hero {
  display: none;
}

.work {
  background-color: $color-white;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-gap: 3rem;
}

@media (min-width: 600px) {
  .hero {
    display: block;
    background-color: $color-primary;
    min-height: 95vh;
    padding-top: 15rem;
  }

  .stick {
    position: sticky;
    top: 8vh;
    height: 92vh;
    z-index: 1;
    color: $color-white;
    animation: 1s fadein;
  }
  .untick {
    // position: static;
    // top: 8vh;
    // height: 92vh;
    // z-index: 1;
    color: $color-dark;
    animation: 1.5s fadeout;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
