.sidenav {
  background-color: $color-dark;
  color: $color-white;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: 100vh;
}

.topnav {
  background-color: $color-primary;
  height: 5vh;
  padding: 2rem 1rem;
  margin: 2rem;
  position: fixed;
  right: 0;
  z-index: 1;

  &--link {
    background-color: $color-dark;
    border-radius: 0.5rem;
    color: $color-white;
    padding: 1rem;
  }
}
